@import "nulstyle.scss";
.container {
	max-width: 1450px;
	margin:0 auto;
	padding: 0 15px;
}
body{
	font-family: 'Montserrat', sans-serif;
}
.header {
	background-color: #F4F4F4;
	height: 100px;
	margin-bottom: 35px;
	&__inner {
		display: flex;
		justify-content: space-between;
		height: 155px; 
		padding-top:  20px ;

	}


	&__logo {
		font-size: 56px;
		text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		font-weight: 600;

	}
	&__search {
		margin-right: -40px;
		position: relative;

	}
	&__search-icon{
		position: absolute;
		right: 30px;
		top: 10px;
		width: 35px;
		height: 35px;
	}
	&__search-text {
		width: 850px;
		height: 60px;
		border-radius: 50px;
		border: 1px solid #C2C2C2;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
		

	}
	&__btn-group{
		padding-top: 14px; 
	}
	&__cart {
		padding-right: 20px;
	}
	&__cart-icon {
		width: 32px;
		height: 32px;

	}
	&__profile {}
	&__profile-icon {
		width: 32px;
		height: 32px;
	}
}

.shop {
	&__breadcrumb {
		display: flex;
		justify-content: space-between;
		margin-bottom: 80px;

	}
	&__city {}
}
.breadcrumb {


}

.breadcrumb-item {
	
}
.active {
	text-transform: uppercase;
}
.dropdown {
	
}
.btn {
	background-color: white;
	color: black;
	border: none;
}
.btn:hover {
	background-color: white;
	color: black;
	border: none;
}

.btn-filter {

	
}
.dropdown-toggle {
	
}
.dropdown-menu {
	
}
.dropdown-item {

}
.shop {
	&__filters {
		display: flex;

	}
	&__filters-text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		line-height: 33px;
		padding-right: 30px;
	}
	&__filters-price {}
	&__filters-quality {}
	&__filters-category {}
	&__filters-size {}
	&__filters-sex {}
}

.btn-filter {
	border: 1px solid black;
	margin-right: 15px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 95px;
}


.btn-filter:hover {
	border: 1px solid black;
	margin-right: 15px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.shop {
	&__cards {
		display: flex;
		justify-content: space-between;
		margin-bottom: 95px;
	}
	&__card {
		text-align: center;
		border: 1px solid #B3B3B3;
		box-sizing: border-box;
		width: 420px;
		height: 605px;
		border-radius: 15px;
		position: relative;
		transition:1s;
	}
	&__card:hover{
		box-shadow: 4px 4px 17px 7px rgba(0, 0, 0, 0.25);
		
	}
	&__card-img {
		height: 420px;
		width: 320px;
		padding-top: 35px;
		margin-bottom: 20px;
	}
	&__card-inner{
		max-width: 320px;
		margin: 0 auto;
		text-align: left;
	}
	&__card-title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: 800;
		font-size: 27px;
		line-height: 33px;
		margin-bottom: 10px;
	}
	&__card-text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 30px;
		color: #6F6F6F;
	}
	&__card-price {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 110.7%;
	}
	&__btn{
		position: absolute;
		right: 45px;
    	bottom: 30px;
		width: 50px;
		height: 55px;
		background-color:  #FFFFFF;
		border: 1px solid #B2B2B2;
		
		border-radius: 8px;
	}
	&__btn-img{
		width: 34px;
		height: 34px;
	}

}
.form-label {

}
.form-range {
}


.footer {
	background-color: #F4F4F4;
	&__inner{
		display: flex;
		justify-content: space-between;
		height: 300px;
		padding-top: 50px;

	}
	&__help {

	}
	&__help-title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}
	&__help-list {}
	&__help-item {
		font-family: Montserrat;
		padding-left: 0;
		font-size: 18px;
		line-height: 29px;
	}
	&__connect {}
	&__connect-title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		margin-bottom: 40px;
	}
	&__connect-link {
		padding: 20px;
		margin-right: 40px;
	}
	&__connect-img {
		width: 50px;
		height: 50px;
	}
	&__partners {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
	}
}
.shop__card-scroll{
	margin: 0 auto;
	height: 420px;
		width: 320px;

}
.carousel-control-next, .carousel-control-prev{
	width: 30px;
}
.dropdown-menu{
	
}
.dropdown-menu.show{
	width: 300px;
	margin-top: 15px;
}