@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  background-color: #F4F4F4;
  height: 100px;
  margin-bottom: 35px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 155px;
  padding-top: 20px;
}
.header__logo {
  font-size: 56px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}
.header__search {
  margin-right: -40px;
  position: relative;
}
.header__search-icon {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 35px;
  height: 35px;
}
.header__search-text {
  width: 850px;
  height: 60px;
  border-radius: 50px;
  border: 1px solid #C2C2C2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.header__btn-group {
  padding-top: 14px;
}
.header__cart {
  padding-right: 20px;
}
.header__cart-icon {
  width: 32px;
  height: 32px;
}
.header__profile-icon {
  width: 32px;
  height: 32px;
}

.shop__breadcrumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.active {
  text-transform: uppercase;
}

.btn {
  background-color: white;
  color: black;
  border: none;
}

.btn:hover {
  background-color: white;
  color: black;
  border: none;
}

.shop__filters {
  display: flex;
}
.shop__filters-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 33px;
  padding-right: 30px;
}
.btn-filter {
  border: 1px solid black;
  margin-right: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 95px;
}

.btn-filter:hover {
  border: 1px solid black;
  margin-right: 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.shop__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}
.shop__card {
  text-align: center;
  border: 1px solid #B3B3B3;
  box-sizing: border-box;
  width: 420px;
  height: 605px;
  border-radius: 15px;
  position: relative;
  transition: 1s;
}
.shop__card:hover {
  box-shadow: 4px 4px 17px 7px rgba(0, 0, 0, 0.25);
}
.shop__card-img {
  height: 420px;
  width: 320px;
  padding-top: 35px;
  margin-bottom: 20px;
}
.shop__card-inner {
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}
.shop__card-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 10px;
}
.shop__card-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  color: #6F6F6F;
}
.shop__card-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 110.7%;
}
.shop__btn {
  position: absolute;
  right: 45px;
  bottom: 30px;
  width: 50px;
  height: 55px;
  background-color: #FFFFFF;
  border: 1px solid #B2B2B2;
  border-radius: 8px;
}
.shop__btn-img {
  width: 34px;
  height: 34px;
}

.footer {
  background-color: #F4F4F4;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  height: 300px;
  padding-top: 50px;
}
.footer__help-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.footer__help-item {
  font-family: Montserrat;
  padding-left: 0;
  font-size: 18px;
  line-height: 29px;
}
.footer__connect-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}
.footer__connect-link {
  padding: 20px;
  margin-right: 40px;
}
.footer__connect-img {
  width: 50px;
  height: 50px;
}
.footer__partners {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.shop__card-scroll {
  margin: 0 auto;
  height: 420px;
  width: 320px;
}

.carousel-control-next, .carousel-control-prev {
  width: 30px;
}

.dropdown-menu.show {
  width: 300px;
  margin-top: 15px;
}